@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.swiper-slide-thumb-active {
  position: relative;
}

.swiper-slide-thumb-active::before {
  content: "";
  @apply border-2 border-primary;
  position: absolute;
  inset: 0;
  z-index: 1000;
}
